<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Oslashacute.rvrn</key>
    <string>O_slashacute.rvrn.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>acute.cap</key>
    <string>acute.cap.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>grave.cap</key>
    <string>grave.cap.glif</string>
    <key>hehDoachashmee-ar</key>
    <string>hehD_oachashmee-ar.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>hungarumlaut.cap</key>
    <string>hungarumlaut.cap.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>oslashacute.rvrn</key>
    <string>oslashacute.rvrn.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
  </dict>
</plist>
